<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangpeng.bms.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.wangpeng.bms.model.Admin">
    <result column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="adminPassword" jdbcType="VARCHAR" property="adminpassword" />
  </resultMap>
  <sql id="Base_Column_List">
    adminId, adminName, adminPassword
  </sql>
  <insert id="insert" parameterType="com.wangpeng.bms.model.Admin">
    insert into admins (adminId, adminName, adminPassword
    )
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpassword,jdbcType=VARCHAR}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.wangpeng.bms.model.Admin">
    insert into admins
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        adminId,
      </if>
      <if test="adminname != null">
        adminName,
      </if>
      <if test="adminpassword != null">
        adminPassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null">
        #{adminpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByUsernameAndPasswordAndIsAdmin" resultMap="BaseResultMap">
    select TOP 1
    <include refid="Base_Column_List" />
    from admins
    where adminName = #{username}
    and adminPassword = #{password}
    --     limit 1
  </select>
  <update id="setPassword" parameterType="com.wangpeng.bms.model.Admin">
    update admins
    <set>
      <if test="adminpassword != null">
        adminPassword = #{adminpassword},
      </if>
    </set>
    where adminId = #{adminid}
  </update>
</mapper>