<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangpeng.bms.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wangpeng.bms.model.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="isAdmin" jdbcType="TINYINT" property="isadmin" />
    <result column="count_vio" jdbcType="INTEGER" property="countvio" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarurl" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, userName, userPassword, isAdmin,count_vio,phone,email,nickName,avatarUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangpeng.bms.model.User">
    insert into users (userName, userPassword,
      isAdmin,count_vio)
    values ( #{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR},
      #{isadmin,jdbcType=TINYINT},#{count_vio,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wangpeng.bms.model.User">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="isadmin != null">
        isAdmin,
      </if>
      <if test="countvio != null">
        count_vio,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="avatarurl != null">
        avatarUrl
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=TINYINT},
      </if>
      <if test="countvio != null">
        #{countvio,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null">
        #{avatarurl,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangpeng.bms.model.User">
    update users
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        isAdmin = #{isadmin,jdbcType=TINYINT},
      </if>
      <if test="countvio != null">
        count_vio = #{countvio,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null">
        avatarUrl = #{avatarurl,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangpeng.bms.model.User">
    update user
    set userName = #{username,jdbcType=VARCHAR},
      userPassword = #{userpassword,jdbcType=VARCHAR},
      isAdmin = #{isadmin,jdbcType=TINYINT},
      count_vio = #{count_vio,jdbcType=INTEGER}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <select id="selectByUsernameAndPasswordAndIsAdmin" resultMap="BaseResultMap">
    select TOP 1
    <include refid="Base_Column_List" />
    from users
    where userName = #{username}
      and userPassword = #{password}
--     limit 1
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap">
    select TOP 1
    <include refid="Base_Column_List" />
    from users
    where userName = #{username}
--     limit 1
  </select>
  <select id="selectAllByLimit" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from users
    order by userId
    offset #{begin}  rows
    fetch next #{size} rows only ;
  </select>
  <select id="selectCount" resultType="int">
    select count(*) from users
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from users
  </select>
  <select id="selectCountBySearch" resultType="int">
    select count(*) from users
    <where>
      <if test="username != null and username != '' ">
        and userName like concat('%',#{username},'%')
      </if>
    </where>
  </select>
  <select id="selectBySearch" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users
    order by userId
    offset #{begin}  rows
      fetch next #{size} rows only ;

  </select>
  <select id="selectBy" resultMap="BaseResultMap">
    select TOP 1
    <include refid="Base_Column_List" />
    from users
    where userName=#{username} or nickName=#{nickname} or email=#{email} or phone=#{phone}
  </select>
  <update id="updateimg">
    update users
    set avatarUrl = #{avatar}
    where userId = #{id}
  </update>
</mapper>
